{% extends "layouts/base.njk" %}

{% block content %}
  <main>
    <!-- Hero section -->
    <div class="[ hero ] [ region ] [ text-white ]">
      <div class="[ wrapper flow ]">
        <h1>{{ title | md | safe }}</h1>
        <a href="#" class="button">Learn more</a>
      </div>
      <!-- Hero image -->
      <img
        src="./images/image-hero.webp"
        alt="3D illustration of an iPhone showing a line graph"
        width="320"
        height="184"
      />
      {% include "curve.svg" -%}
    </div>

    <!-- Features section -->
    <section class="[ features ] [ region ]">
      <div class="wrapper">
        <h2 class="visually-hidden">Features</h2>
        <ol role="list" class="switcher">
          {%- for item in features %}
            <li class="feature">
              <div class="switcher">
                <div class="marker">{{ loop.index }}</div>
                <div class="content flow">
                  <h3>{{ item.title }}</h3>
                  <p>{{ item.summary }}</p>
                </div>
              </div>
            </li>
          {% endfor %}
        </ol>
      </div>
      {% include "curve.svg" %}
    </section>

    <!-- Call to action section -->
    <section class="[ cta ] [ wrapper region ]">
      <div class="cta-inner">
        <img src="./images/image-founder.webp" alt="Louis Graham" width="281" height="281">

        <div class="[ cta-card ] [ flow ] [ bg-dark-purple text-white ]">
          <h2>{{ cta.title }}</h2>
          <p>{{ cta.content }}</p>
          <a href="#" class="button">Apply for access</a>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
