.cta-card {
  padding: calc(var(--space-8) + (64 - 32) * var(--fluid-bp));
  text-align: center;
}

@media screen and (min-width: 40em) {
  .cta-card {
    text-align: left;
  }
}

.cta-card > .button {
  margin-top: var(--space-8);
}
