.cta-card {
  --flow-space: calc(var(--space-4) + (32 - 16) * var(--fluid-bp));
  padding: calc(var(--space-8) + (64 - 32) * var(--fluid-bp));
  text-align: center;
}

@media screen and (min-width: 40em) {
  .cta-card {
    text-align: left;
  }
}
