.feature {
  --flow-space: calc(var(--space-4) + (28 - 16) * var(--fluid-bp));
  --h-gutter: calc(var(--space-6) + (56 - 24) * var(--fluid-bp));
  --v-gutter: var(--space-8);
  text-align: center;
  container-type: inline-size;
}

.feature .switcher {
  --threshold: 30rem;
}

@container (min-width: 30rem) {
  /* We need to set text-align here so we can reference the container .future block */
  .feature .switcher {
    text-align: left;
  }
}

/* List marker and heading have a different color from body text */
.feature :first-child {
  color: var(--color-dark-purple);
}

.feature .marker {
  font-family: var(--font-serif);
  font-size: var(--size-step-1);
  line-height: 1.8;
  border: 1px solid var(--color-davys-grey);
  border-radius: 50%;
  display: inline-grid;
  place-content: center;
  width: calc(var(--space-12) + (56 - 48) * var(--fluid-bp));
  height: calc(var(--space-12) + (56 - 48) * var(--fluid-bp));

  /* Center vertically on row layout */
  flex: 0 0 auto;
  align-self: center;
}
