.hero {
  /* Set top and bottom padding */
  --region-space-top: calc(var(--space-16) + (56 - 64) * var(--fluid-bp));
  --region-space-bottom: calc(140 / 16 * 1rem + (258 - 140) * var(--fluid-bp));
  /* Set space between heading and button */
  --flow-space: calc(var(--space-10) + (48 - 40) * var(--fluid-bp));
  /* Set color for background and curve separator */
  --bg-color: var(--color-dark-purple);

  text-align: center;
}

.hero-inner {
  overflow: hidden;
  position: relative;
}

/* Add oval patterns */
.hero-inner::before,
.hero-inner::after {
  content: '';
  position: absolute;
}

.hero-inner::before {
  background: no-repeat center/contain url('../images/bg-pattern-1.svg');
  width: calc(350 / 16 * 1rem);
  height: calc(317 / 16 * 1rem);
  right: calc(80% + var(--size-step-4));
  top: 1em;
}

.hero-inner::after {
  background: no-repeat center/contain url('../images/bg-pattern-2.svg');
  width: calc(174 / 16 * 1rem);
  height: calc(181 / 16 * 1rem);
  left: calc(85.7% + var(--size-step-4));
  bottom: 15%;
}

/* Set a narrower measure for the hero heading */
.hero h1 {
  --measure: 12ch;
  margin-inline: auto;
}

/* Underline emphasized words */
.hero em {
  position: relative;
  font-style: normal;
}

.hero em::after {
  content: '';
  background: var(--color-eucalyptus);
  position: absolute;
  width: 100%;
  height: calc(3 / 16 * 1rem);
  bottom: var(--space-1);
  left: 0;
}

.hero .button {
  padding-inline: calc(var(--space-6) + (32 - 24) * var(--fluid-bp));
}

.hero img {
  /* Place at the bottom edge of the hero section above the curve */
  position: absolute;
  bottom: 0;
  left: 52%;
  transform: translate(-50%, 52.5%);
  z-index: 20;

  /* Apply sensible fluid sizing */
  max-inline-size: calc(767 / 16 * 1rem);
  width: calc(288px + (767 - 288) * var(--fluid-bp));
  box-sizing: content-box;
}
